<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Harga Codm</title>
    <link rel="stylesheet" href="harga.css">
    <style>
      footer {
        text-align: center;
        padding: 3px;
        background-color: DarkSalmon;
        color: white;
      }
      </style>
</head>
<body>
    <section class="list-ff">
        <div class="container">
            <h1 class="title__list">LIST HARGA <span class="th">CP Codm </span></h1>            
            <table border="5" class="table">
                <tr>
                    <th class="th">NOMINAL CP</th>
                    <th class="th">HARGA NORMAL</th>
                </tr>
        
                <tr>
                    <td>31 CP</td>
                    <td>Rp 4.500</td>
                </tr>
                <tr>
                    <td>63 CP</td>
                    <td>Rp 9.000</td>
                </tr>
                <tr>
                    <td>128 CP</td>
                    <td>Rp 19.000</td>
                </tr>
                    <td>321 CP</td>
                    <td>Rp 45.000</td>
                <tr>
                    <td>-</td>
                    <td>Rp -</td>
                </tr>
                <tr>
                    <td>-</td>
                    <td>Rp -</td>
                </tr>
                <tr>
                    <td>-</td>
                    <td>Rp -</td>
                </tr>
            </table>
        </div>
    </section>
    
  <footer>
    Ingin Membeli? Chat > 085894697363
  </footer>
</body>
</html>